<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fection.www.mapper.ImagesMapper">
  <select id="getAllImages" resultType="Images">
    select * from images
  </select>
  <select id="getAllByIid" resultType="Images">
    select * from images where iid=#{iid}
  </select>
  <insert id="insertImages">
    insert into images values(#{iid},#{bid},#{uid},#{uimg}#{bimg}),
  </insert>
  <update id="updateImages">
    update images set bid=#{bid},uid=#{uid},uimg=#{uimg},bimg=#{bimg
    } where iid=#{iid}
  </update>
  <delete id="deleteImages">
    delete from images where iid=#{iid}
  </delete>
</mapper>