<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fection.www.mapper.PermissionsMapper">
  <select id="getAllPermissions" resultType="Permissions">
    select * from permissions
  </select>
  <select id="getAllByPid" resultType="Permissions">
    select * from permissions where pid=#{pid}
  </select>
  <insert id="insertPermissions">
    insert into permissions values(#{pid},#{pname},#{pinfo})
  </insert>
  <update id="updatePermissions">
    update permissions set pname=#{pname},pinfo=#{pinfo} where pid=#{pid}
  </update>
  <delete id="deletePermissions">
    delete from permissions where pid=#{pid}
  </delete>
</mapper>