<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fection.www.mapper.RoleMapper">
  <select id="getAllRole" resultType="Role">
    select * from role
  </select>
  <select id="getAllByRid" resultType="Role">
    select * from role where rid=#{rid}
  </select>
  <insert id="insertRole">
    insert into role values(#{rid},#{rname},#{rinfo})
  </insert>
  <update id="updateRole">
    update user set rname=#{rname},rinfo=#{rinfo} where rid=#{rid}
  </update>
  <delete id="deleteRole">
    delete from role where rid=#{rid}
  </delete>
</mapper>