<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fection.www.mapper.UserMapper">
  <select id="getAllUser" resultType="User">
    select * from user
  </select>
  <select id="getAllByUid" resultType="User">
    select * from user where uid=#{uid}
  </select>
  <insert id="insertUser">
    insert into user values(#{uid},#{brid},#{uname},#{uemail},#{uphone})
  </insert>
  <update id="updateUser">
    update user set brid=#{brid}uname=#{uname},uemail=#{uemail},uphone=#{uphone} where uid=#{uid}
  </update>
  <delete id="deleteUser">
    delete from user where uid=#{uid}
  </delete>
</mapper>